.continue-button {
    background-color: #601A4A;
    border: none;
    color: white;
}

.ceased-button {
    background-color: #EE442F;
    border: none;
    color: white;
}

.paused-button {
    background-color: #63ACBE;
    border: none;
    color: white;
}
h6 .colourBreakdown {
    color: #EE442F;
}

.scheme-button {
    background-color: #601A4A;
    border: none;
    color: white;
}

.clicked-scheme {
    background-color: #A95AA1;
    border: none;
    color: white;
}


